.container{
    overflow-x: hidden;
    overflow-y: hidden;
    height: 40vmin;
}

.burncontainer{
  height: 100%;
  width:100%;
  position: relative;
}

.offscreen{
    background-color: rgb(9,9,8);
    height: 10vh;
  }

.filmburn{
  /* display: flex; */
  position: relative;
  height:60vmin;
  /* width: 100%; */
  filter: url('#wavy');
  -webkit-transform: translate3d(0,0,0);
}

.filmburnBW{
  composes: filmburn;
}
.filmburnCLR{
  composes: filmburn;
}

.filmburnBW::after{
  content: "";
  top: 6vh;
  left: -57vmin;
  right: -54vmin;
  bottom: 46vmin;
  border: 17vmin solid ;
  border-image: linear-gradient(to top, white 95%, orange 98%, #af3a94 99%) 35;
  box-shadow: 0vmin -1vmin 7vmin 2.5vmin rgba(110,157,198,1);
  position: absolute;
  animation: slideinbottom 1.5s ;
  filter: blur(5px) grayscale();
}

.filmburnCLR::after{
  content: "";
  top: 6vh;
  left: -57vmin;
  right: -54vmin;
  bottom: 46vmin;
  border: 17vmin solid ;
  border-image: linear-gradient(to top, white 95%, orange 98%, #af3a94 99%) 35;
  box-shadow: 0vmin -1vmin 7vmin 2.5vmin rgba(110,157,198,1);
  position: absolute;
  animation: slideinbottom 1.5s ;
  filter: blur(5px);
}

@keyframes slideinbottom {
    0% {
      top: 24vh;
    }
    100% {
      top: 6vh;
    }
  }

.igcontainer{
  height:100%;
  width:100%;
  position: absolute;
  margin:0 auto;
  /* z-index: 2; */
  left: 42%;
  top: 45%;
  opacity:0;
  transition: opacity 6s ease-in-out; 
}

.igcontainershow{
  composes: igcontainer;
  opacity: 1;
}

.parentSvg{
  width: 0;
  height:0;
}

.igicon{
  width: 18vw;
  height: 5vh;
  color: rgb(9,9,8);
}

.burncontainer ul{
  display:inline-block;
  list-style: none;
  padding: 0;
}

.link{
list-style: none;
}

.ul{
padding:0;
}