
/* NEED TO CHANGE THIS TO BW SQAURES 
THEN ADD COLOR SQUAURES  */
.clrsquare1{
 
  background: linear-gradient(black, black) padding-box, linear-gradient(20deg, #32322e, #573b2c, #c2724b, #272827 ,#6e5649, #333332) border-box;
              /*we need to apply it to border-box bc we're gonna use the borders to remove the edges of the black padding-box*/
    border-width: 1px 1px 1px 1px;
}

.clrsquare2{
  background: linear-gradient(black, black) padding-box, linear-gradient(40deg, #333332, #4a3928, #c8734c,#363735, #895f3f, #363735 , #976245 ) border-box;
  border-width: 1px 1px 1px 1px;
}

.clrsquare3{
   
  background: linear-gradient(black, black) padding-box, linear-gradient(120deg, #654432, #573b2c, #d4774a,#513324, #140e0b, #261810 , #976245 ) border-box;
  border-width: 1px 1px 1px 1px;
}

.clrsquare4{
  background: linear-gradient(black, black) padding-box, linear-gradient(39deg, #704a33, #140e0b, #754c42,rgb(9,9,8), #654432, #473825 , #d4774a ) border-box;
  border-width: 1px 1px 1px 1px;
}

.clrsquare5{
   
  background: linear-gradient(black, black) padding-box, linear-gradient(78deg, #030303, #582d0c, #976245,#30291f, #442c08, #1e1709 , #976245 ) border-box;
  border-width: 1px 1px 1px 1px;
}

.clrsquare6{
   
  background: linear-gradient(black, black) padding-box, linear-gradient(5deg, #513324, #0a0503, #c2724b,#6c3c20, #371907, #261810 , #d4774a ) border-box;
  border-width: 1px 1px 1px 1px;
}

.clrsquare7{
   
  background: linear-gradient(black, black) padding-box, linear-gradient(15deg, #513324, #352218, #c2724b,#363735, #d4774a, #000 , #976245 ) border-box;

  border-width: 1px 1px 1px 1px;
}

.clrsquare8{
   
  background: linear-gradient(black, black) padding-box, linear-gradient(69deg, #c06635, #684532, #0a0909,#513a2e, #272827, #635034 , #1c1003 ) border-box;
  border-width: 1px 1px 1px 1px;
}

.clrsquare9{
   
  background: linear-gradient(black, black) padding-box, linear-gradient(210deg, #0a0907, #3d3025, #976245, #272827 ,#815e4b) border-box;
    border-width: 1px 1px 1px 1px;
}

.clrsquare10{
   
  background: linear-gradient(black, black) padding-box, linear-gradient(240deg, #513324, #2c160b, #c2724b, #111311 ,#44290b, #c2724b, #573b2c , #513324) border-box;
    border-width: 1px 1px 1px 1px;
}

.clrsquare11{
   
  background: linear-gradient(black, black) padding-box, linear-gradient(120deg, #c2724b, #895f3f, #654432, #4a2917 ,rgb(9,9,8), #9e5b29, rgb(9,9,8) , #513324) border-box;
    border-width: 1px 1px 1px 1px;
}

.clrsquare12{
   
  background: linear-gradient(black, black) padding-box, linear-gradient(120deg, #32322e, #664431, #000000, #272827 ,#976245, #000000, #976245 , #343434) border-box;
    border-width: 1px 1px 1px 1px;
}

.clrsquare13{
   
  background: linear-gradient(black, black) padding-box, linear-gradient(20deg, #c2724b, #c2724b, #110a06, #2b1f15 ,#88543a, #3c1f0c, #573b2c , #3f2a1c) border-box;
    border-width: 1px 1px 1px 1px;
}

.clrsquare14{
  background: linear-gradient(black, black) padding-box, linear-gradient(80deg, #32322e, #9f5734, #1f180d, #2d190f ,#c37036, #361d11, #6b4632 , #090503) border-box;
    border-width: 1px 1px 1px 1px;
}

.clrsquare15{
   
  background: linear-gradient(black, black) padding-box, linear-gradient(60deg, #1a1410, #573b2c, #371d0f, #272827 ,#c2724b, #1f0f06, #976245 , #343434) border-box;
    border-width: 1px 1px 1px 1px;
}

.clrsquare16{
   
  background: linear-gradient(black, black) padding-box, linear-gradient(10deg, #be6928, #4b2d1d, #000000, #c2724b ,#c2724b, #251610, #976245 , #000000) border-box;
   border-width: 1px 1px 1px 1px;
}

.sqaure{
  width:29px;
  height: 22px;
  margin-top:8px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid transparent; 
  flex: 1 1 auto;
}

.invisible{
  visibility: hidden;
}

.imgContainer img{
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

.block {
  width: 100%;
  height: 27.8rem;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  top: 0;
  box-shadow: inset 0px 0px 0.1rem 0.1rem rgb(9, 9, 8);
}

.imgContainer{
  flex: 1 1 auto;
  margin: auto;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0px;
}

.insideimg{
  position: relative;
  margin-top: 10px;
}

#first-img{
  margin-top: 7px;
}

#rightPerf{
  display: flex;
  flex-direction: column;
  float: right;
  padding-right: 1rem;
}

#leftPerf{
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.mainFilm{
  display: flex;
}

#messed-up-block{
    height: 24vh;
}

.filmcontainer{
  margin-top: 9vh;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  animation: slide-in-from-top 2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

@keyframes slide-in-from-top {
  0% {
    top:-200vh;
  }
  100% {
    top: 0;
  }
}